# Functions

In [642]:
def print_shape_of_dataframes(**kwargs):
    """
    Print the shape (number of rows and columns) of multiple pandas DataFrame
    objects.

    Parameters:
    -------------
    **kwargs: dict
        Keyword arguments where the keys are the names of the DataFrame
        objects (as string) and the values are the DataFrame objects
        themselves.

    Notes:
    ------------
    The functon dynamically handles any number of DataFrame objects passed
    as keyword arguments.
    Ensure the passed objects are valid pandas DataFrame to avoid unexpected
    errors.
    """
    for name, value in kwargs.items():
        if hasattr(value, 'shape'):
            print(f'DataFrame \033[94m{name.title()}\033[0m has {value.shape[0]} rows and {value.shape[1]} columns.')
            print('------------------------------------')
        else:
            raise ValueError(f'The object 033[94m{name.title()}\033[0m is not a valid DataFrame.')

In [764]:
from collections import Counter

def delete_outliers(data_frame: pd.DataFrame, n: int, features: list) -> list:
    """
    Detect and Identifies outliers in the specified features of a 
    DataFrame.

    This function iterates through a list of numerical features and detects
    outliers in each feature based on the IQR method. An outlier is defined
    as a value below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR.
    If an index appears as an outlier in more than N features, it is added to the 
    final list of multiple outliers.

    Parameters:
    ---------------
    data_frame: pd.DataFrame
        The DataFrame containing the data to analyze.

    n: int
        The minimum number of features in which a data point must be an outlier
        to be considered a multiple outlier.

    features: list
        A list of column names (features) to analyze for outliers.
        Those should be numerical columns.

    Returns:
    -------------
    list
        A list of indices corresponding to data points that are outliers
        in more than n features.

    Raises:
    ------------
    TypeError
        If data_frame is not a pandas DataFrame, or if features is not a list.

    ValueError
        If n is negative, or if a feature in the features list is not in
        the DataFrame.
    """
    if not isinstance(data_frame, pd.DataFrame):
        raise TypeError("`data_frame` must be a pandas DataFrame.")
    if not isinstance(features, list):
        raise TypeError("`features` must be a list of column names.")
    if not isinstance(n, int) or n < 0:
        raise ValueError("`n` must be a non-negative integer.")
        
    outliers = []
    for feature in features:
        Q1 = np.percentile(data_frame[feature], 25)
        Q3 = np.percentile(data_frame[feature], 75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5*IQR
        upper = Q3 + 1.5*IQR

        outlier_list = data_frame[(data_frame[feature] < lower) | (data_frame[feature] > upper)].index
        outliers.extend(outlier_list)
    outliers = Counter(outliers)
    multiple_outliers = list(key for key, value in outliers.items() if value > n)
    return multiple_outliers

# 1. Import Libraries

In [643]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import missingno
import re

import datetime

# 2. Import and Read data

In [644]:
df = pd.read_csv('Uncleaned_DS_jobs.csv')
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [645]:
df_cleaned = pd.read_csv('Cleaned_DS_Jobs.csv')
df_cleaned.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,na

In [646]:
print_shape_of_dataframes(uncleaned_df=df, cleaned_df=df_cleaned)

DataFrame Uncleaned_Df has 672 rows and 15 columns.
------------------------------------
DataFrame Cleaned_Df has 660 rows and 27 columns.
------------------------------------

The raw dataset (Uncleaned_DS_jobs.csv) was imported and initially contained 672 rows and 15 columns, representing the unprocessed state of the data with potential inconsistencies, missing values, and redundant information. After cleaning, the dataset (Cleaned_DS_Jobs.csv) was reduced to 660 rows and expanded to 27 columns, indicating the removal of invalid or unnecessary records and the addition of new features or transformations during the cleaning process. This transformation resulted in a more structured and reliable dataset, ready for further analysis or modeling. The changes reflect the efforts to improve data quality and usability.

# 3. Data Description and Transformation

In [647]:
df.shape

(672, 15)

In [648]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

The uncleaned dataset consists of 672 entries and 15 columns, with a mix of numeric and object data types, including job titles, salary estimates, company details, and descriptive fields. All columns have non-null values, suggesting no missing data, but further inspection is needed to identify potential inconsistencies or formatting issues within the fields.

In [649]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

## `Index Feature`

The index column in the uncleaned dataset contains sequential integer values from 0 to 671, which do not provide meaningful information for analysis. Therefore, it is considered redundant and should be removed before proceeding with data cleaning.

In [650]:
df['index'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671], dtype=int64)

In [651]:
cleaning_df = df.drop(labels='index', axis=1)

In [652]:
cleaning_df.head(1)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"

## `Job Title Feature`

The Job Title column contains various job titles related to data science and other technical roles, including variations such as "Data Scientist," "Data Engineer," "Machine Learning Engineer," and more. Given the diversity and specificity of these titles, we have decided to leave this column as is, without applying any transformations. It is important to retain these distinct titles as they represent unique job roles and are crucial for any analysis regarding job market trends, skill requirements, or salary estimation.

In [653]:
cleaning_df['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

## `Salary Estimate Feature`

The Salary Estimate column originally contained salary ranges in a string format, including values such as $137K-$171K (Glassdoor est.) and $75K-$131K (Glassdoor est.). To standardize the data and make it more useful for analysis, we cleaned this column by extracting the salary range and removing the text and currency symbols.

We used a regular expression to capture the numeric values within the salary range, converting them into a simplified format (e.g., 137-171 for $137K-$171K). This cleaned format provides a consistent range of values for each entry.

In [654]:
cleaning_df['Salary Estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

In [655]:
def convert_salary_estimate_feature(value):
    """
    Converts a salary range from the format '$XK-$YK (Glassdoor est.)' to a simplified 
    format 'X-Y' by extracting the lower and upper bounds of the salary range.

    Parameters:
    ---------------
    value (str): 
        A string representing the salary range, e.g., '$137K-$171K (Glassdoor est.)'.

    Returns:
    ---------------
    str: 
        A string representing the simplified salary range, e.g., '137-171'.
    """
    match = re.search(r'\$(\d+)(?:K)-\$(\d+)(?:K)', value)
    return f'{match.group(1)}-{match.group(2)}'

In [656]:
cleaning_df['Salary Estimate'] = cleaning_df['Salary Estimate'].apply(convert_salary_estimate_feature)

In [657]:
cleaning_df['Salary Estimate'].unique()

array(['137-171', '75-131', '79-131', '99-132', '90-109', '101-165',
       '56-97', '79-106', '71-123', '90-124', '91-150', '141-225',
       '145-225', '79-147', '122-146', '112-116', '110-163', '124-198',
       '79-133', '69-116', '31-56', '95-119', '212-331', '66-112',
       '128-201', '138-158', '80-132', '87-141', '92-155', '105-167'],
      dtype=object)

## `Job Description Feature`

The Job Description feature contains detailed textual descriptions of job roles, responsibilities, qualifications, and other relevant information for each job posting. These descriptions vary widely in content, often including specific technical skills, required qualifications, and company values. The goal is to provide a comprehensive overview of the job, the company, and the expectations for the role.

Given the highly variable nature of these descriptions (such as detailed healthcare analytics roles, IT security roles, or consulting positions), no cleaning or modifications were made to this feature. The raw text was retained for further analysis as needed.

In [658]:
cleaning_df['Job Description'].unique()[:3]

array(["Description\n\nThe Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.\n\nDuties & Responsibilities:\n\n• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\n• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\n• Works with multiple teams to support data collection, integration, and retention requirements based on business needs\n• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\n• Collaborates with business subject matter experts to select relevant sources of information\n• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\n• Develops expertise with Healthfirst datasets, data repositories, and data movement processes\n• Assists on projects/requests and may lead specific tasks within the project scope\n• Prepares and manipulates data for use in development of statistical models\n• Other duties as assigned\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nWE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.\n\nIf you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement\n\n]]>",
       "Secure our Nation, Ignite your Future\n\nJoin the top Information Technology and Analytic professionals in the industry to make invaluable contributions to our national security on a daily basis. In this innovative, self-contained, Big Data environment, the ManTech team is responsible for everything from infrastructure, to application development, to data science, to advanced analytics and beyond. The team is diverse, the questions are thought-provoking, and the opportunities for growth and advancement are numerous\n\nThe successful candidate will possess a diverse range of data-focused skills and experience, both technical and analytical. They will have a strong desire and capability for problem solving, data analysis and troubleshooting, analytical thinking, and experimentation.\n\nDuties, Tasks & Responsibilities\nWorking with large, complex, and disparate data sets\nDesigning and implementing innovative ways to analyze and exploit the Sponsors data holdings\nResearching and reporting on a wide variety of Sponsor inquiries\nRaising proactive inquiries to the Sponsor based on observations and proposed data analysis/exploitation\nSolving difficult, non-routine problems by applying advanced analytical methodologies, and improving analytic methodologies\nDeveloping custom searches\nCommunicating and coordinating with internal and external partners as needed\nRequired Experience, Skills, & Technologies\n\nThorough knowledge of appropriate analytic tools and methodologies in one or more of the following:\nApplied mathematics (e.g. probability and statistics, formal modeling, computational social sciences)\nComputer programming (e.g. programming languages, math/statistics packages, computer science, machine learning, scientific computing)\nAbility to code or script in one or more general programming language\nExperience with and theoretical understanding of algorithms for classification, regression, clustering, and anomaly detection\nKnowledge of relational databases, including SQL and large-scale distributed systems (e.g. Hadoop)\nExpertise with statistical data analysis (e.g. linear models, multivariate analysis, stochastic models, sampling methods)\nDemonstrated effectiveness in collecting information and accurately representing/visualizing it to non-technical third parties\nTS/SCI with Polygraph\nBachelor of Science or equivalent and 12-15 years related experience, but will consider all levels of experience.\nDesired Experience, Skills & Technologies\nPrevious investigative experience using a combination of technical and analytic skills\n#LI-DU1\n\nManTech International Corporation, as well as its subsidiaries proactively fulfills its role as an equal opportunity employer. We do not discriminate against any employee or applicant for employment because of race, color, sex, religion, age, sexual orientation, gender identity and expression, national origin, marital status, physical or mental disability, status as a Disabled Veteran, Recently Separated Veteran, Active Duty Wartime or Campaign Badge Veteran, Armed Forces Services Medal, or any other characteristic protected by law.\n\nIf you require a reasonable accommodation to apply for a position with ManTech through its online applicant system, please contact ManTech's Corporate EEO Department at (703) 218-6000. ManTech is an affirmative action/equal opportunity employer - minorities, females, disabled and protected veterans are urged to apply. ManTech's utilization of any external recruitment or job placement agency is predicated upon its full compliance with our equal opportunity/affirmative action policies. ManTech does not accept resumes from unsolicited recruiting firms. We pay no fees for unsolicited services.\n\nIf you are a qualified individual with a disability or a disabled veteran, you have the right to request an accommodation if you are unable or limited in your ability to use or access http://www.mantech.com/careers/Pages/careers.aspx as a result of your disability. To request an accommodation please click careers@mantech.com and provide your name and contact information.",
       "Overview\n\n\nAnalysis Group is one of the largest international economics consulting firms, with more than 1,000 professionals across 14 offices in North America, Europe, and Asia. Since 1981, we have provided expertise in economics, finance, health care analytics, and strategy to top law firms, Fortune Global 500 companies, and government agencies worldwide. Our internal experts, together with our network of affiliated experts from academia, industry, and government, offer our clients exceptional breadth and depth of expertise.\n\nWe are currently seeking a Data Scientist to join our team. The ideal candidate should be passionate about working on cutting edge research and analytical services for Fortune 500 companies, global pharma/biotech firms and leaders in industries such as finance, energy and life sciences. The Data Scientist will be a contributing member to client engagements and have the opportunity to work with our network of world-class experts and thought leaders.\n\nJob Functions and Responsibilities\n\nThe candidate Data Scientist will help develop, maintain and teach new tools and methodologies related to data science and high performance computing. This position will also help Analysis Group in maintaining our leadership position in terms of advancing methodology and data analytics. The Data Scientist will be responsible for staying abreast of new developments in technology relating to data science, to share more broadly with Analysis Group.\n\nKey responsibilities for this position will include:\nWorking with project teams to address data science/computing challenges\nIdentifying opportunities for technology to enhance service offerings\nActing as a resource and participating in client engagements and research as part of the project team\nMaintaining up-to-date knowledge of computing tools, providing technical training and helping to grow the in-house knowledge base, specifically in a Linux environment\nPresenting research at selected conferences\nExamples of activities for the Data Scientist will include:\nDeveloping data engineering and machine learning production systems for full stack data science projects\nUsing natural language processing methodologies to work with EMR data, social media data and other unstructured data\nOptimizing procedures for managing and accessing large databases (e.g., insurance claims, electronic health records, financial transactions)\nCreating interactive analytics portals and data visualizations (e.g., using R/Shiny, Python/Flask, D3)\nBuilding and maintaining high performance computing (HPC) tools on grid and cloud computing environments\nDeveloping and reviewing software and packages in R, Python and other Object Oriented Languages\nEstablishing optimized procedures for repetitive or computationally intensive tasks (C, C++, Cuda-C)\nQualifications\nStrong credentials and experience in database management and data visualization\nSignificant experience working within a Linux environment required\nBackground in Statistics/Econometrics or Biostatistics\nIdeally PhD in Computer Science, Mathematics, Statistics, Economics or other relevant scientific degree with relevant experience. Other candidates with at least one year of experience in the field may also be considered\nExcellent written and verbal communication skills\nProject experience with R and/or Python\nFamiliar with online/cloud computing/storage (e.g., AWS)\nDemonstrated experience working on project teams and collaborating with others\nSCIENTIFIQUE DES DONNÉES\n\n*L’utilisation du genre masculin sert uniquement à alléger le texte et est utilisé ici en tant que genre neutre\n\nSurvol\n\nGroupe d’analyse ltée est l’une des plus grandes firmes de services-conseils en économie, comptant plus de 950 professionnels répartis dans 14 bureaux en Amérique du Nord, en Europe et en Asie. Depuis 1981, nous offrons notre expertise en matière de stratégie, d’économie, de finance et d’analyse dans le domaine des soins de santé aux grands cabinets d’avocats, aux sociétés Fortune Global 500 et aux agences gouvernementales du monde entier. Nos professionnels en poste conjugués à notre réseau de spécialistes affiliés issus d’universités, d’industries spécifiques et d’organismes gouvernementaux procurent à notre clientèle un savoir-faire d’une portée et d’une profondeur exceptionnelles.\n\nNous sommes présentement à la recherche d'un Scientifique des données (« Data Scientist ») pour se joindre à notre équipe. Le candidat idéal devrait être passionné par la recherche de pointe et les services analytiques pour les entreprises Fortune 500, les entreprises pharmaceutiques et biotechnologiques mondiales et les chefs de file dans des secteurs de la finance, l'énergie et les sciences de la vie. Le Scientifique des données sera un membre contributeur aux mandats des clients et aura l'occasion de travailler avec notre réseau d'experts et de leaders d'opinion de classe mondiale.\n\nDescription du poste et des responsabilités\n\nLe scientifique des données aidera à développer, maintenir et enseigner de nouveaux outils et méthodologies liés à la science des données (« Data Science ») et au HPC. Ce poste aidera également le Groupe d'analyse à maintenir sa position de chef de file en ce qui a trait à l'avancement de la méthodologie et de l'analyse des données. Le scientifique des données sera chargé de se tenir au courant des nouveaux développements technologiques liés à la science des données, afin de les partager plus largement avec le Groupe d'analyse.\n\nLes principales responsabilités de ce poste comprendront:\n\n- Collaborer avec les consultants pour relever les défis de la science des données et de sciences informatiques\n\n- Agir à titre de ressource et participer aux mandats et à la recherche en tant que membre de l'équipe de projet\n\n- Maintenir à jour les connaissances sur les outils informatiques, fournir une formation technique et aider à développer la base de connaissances interne, notamment dans un environnement Linux\n\n- Présenter la recherche à des conférences choisies\n\nExemples de tâches du scientifique des données :\n\n- Développement de systèmes de production en ingénierie des données ainsi qu’en apprentissage machine pour des projets de science des données full stack\n\n- Utiliser des méthodologies NLP pour travailler avec les données médicales électroniques, les données des médias sociaux et d'autres données non structures\n\n- Optimiser les procédures de gestion et d'accès aux grandes bases de données (ex. réclamations d'assurance, dossiers de santé électroniques, transactions financières)\n\n- Création de portails d'analyse interactifs et de visualisations de données (par exemple, en utilisant R/Shiny, Python/Flask, D3)\n\n- Construire et maintenir des outils de calcul de haute performance (HPC).\n\n- Développement et révision de codes en R, Python et autres langages\n\n- Mise en place de procédures optimisées pour les tâches répétitives ou intensives en calcul (C, C++, Cuda-C)\n\nQualifications requises\n\n- Solides références et expérience dans la gestion de bases de données et de la visualisation de données\n\n- Expérience de travail significative dans un environnement Linux requise\n\n- Expérience antérieure en statistique/économétrie ou bio-statistique\n\n- Idéalement, être titulaire d'un doctorat en sciences informatiques, en mathématiques, en statistique, en économie ou d'un autre diplôme scientifique pertinent et posséder une expérience pertinente. Les candidats ayant au moins un an d'expérience dans le domaine peuvent également être considérés.\n\n- Excellentes aptitudes de communication écrite et verbale\n\n- Expérience de projet avec R et/ou Python\n\n- Familiarité avec l'informatique en ligne/info nuagique et le stockage (AWS)\n\n- Expérience de travail démontrée au sein d'équipes de projet et de collaboration avec d'autres personnes\n\n\xad\nEqual Opportunity Employer/Protected Veterans/Individuals with Disabilities.\nPlease view Equal Employment Opportunity Posters provided by OFCCP here.\nThe contractor will not discharge or in any other manner discriminate against employees or applicants because they have inquired about, discussed, or disclosed their own pay or the pay of another employee or applicant. However, employees who have access to the compensation information of other employees or applicants as a part of their essential job functions cannot disclose the pay of other employees or applicants to individuals who do not otherwise have access to compensation information, unless the disclosure is (a) in response to a formal complaint or charge, (b) in furtherance of an investigation, proceeding, hearing, or action, including an investigation conducted by the employer, or (c) consistent with the contractor's legal duty to furnish information. 41 CFR 60-1.35(c)"],
      dtype=object)

## `Rating Feature`

The Rating feature contains values where negative ratings were present, which are handled by the cleaning_ratings function. This function checks if the rating is below zero and converts it to 0, while leaving all other ratings unchanged. After applying this cleaning process, the ratings are updated to reflect non-negative values only.

In [659]:
cleaning_df['Rating'].unique()

array([ 3.1,  4.2,  3.8,  3.5,  2.9,  3.9,  4.4,  3.6,  4.5,  4.7,  3.7,
        3.4,  4.1,  3.2,  4.3,  2.8,  5. ,  4.8,  3.3,  2.7,  2.2,  2.6,
        4. ,  2.5,  4.9,  2.4, -1. ,  2.3,  4.6,  3. ,  2.1,  2. ])

In [660]:
cleaning_df['Rating'].dtype

dtype('float64')

In [661]:
def cleaning_ratings(value):
    """
    Cleans the rating values by replacing any negative ratings with 0, 
    while leaving positive ratings unchanged.

    Parameters:
    -------------
    value (float): 
        The rating value to be cleaned. It can be a positive float, zero, or a negative value.

    Returns:
    -------------
    float: 
        A cleaned rating value. Negative values are replaced with 0, while other values remain the same.
    """
    if value < 0:
        return 0
    else:
        return value

In [662]:
cleaning_df['Rating'] = cleaning_df['Rating'].apply(cleaning_ratings)

In [663]:
cleaning_df['Rating'].unique()

array([3.1, 4.2, 3.8, 3.5, 2.9, 3.9, 4.4, 3.6, 4.5, 4.7, 3.7, 3.4, 4.1,
       3.2, 4.3, 2.8, 5. , 4.8, 3.3, 2.7, 2.2, 2.6, 4. , 2.5, 4.9, 2.4,
       0. , 2.3, 4.6, 3. , 2.1, 2. ])

In [664]:
cleaning_df[cleaning_df['Rating'] == 0].index

Index([154, 158, 230, 282, 285, 290, 319, 322, 329, 338, 351, 357, 358, 359,
       360, 361, 362, 388, 389, 409, 411, 425, 430, 431, 437, 438, 440, 457,
       459, 495, 496, 497, 498, 499, 500, 504, 519, 524, 555, 568, 613, 615,
       637, 650, 656, 657, 660, 664, 668, 669],
      dtype='int64')

In [665]:
cleaning_df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

## `Company Name Feature`

The Company Name feature originally contained both company names and ratings separated by a newline character (\n). The clean_company_name_feature function cleans this feature by removing the newline character and any text following it. After applying this transformation, the Company Name column now contains only the company names, without any extraneous information.

In [666]:
cleaning_df['Company Name'].unique()

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6', 'Novetta\n4.5', '1904labs\n4.7',
       'PNNL\n3.7', 'Old World Industries\n3.1',
       'Mathematica Policy Research\n3.4',
       'Guzman & Griffin Technologies (GGTI)\n4.4',
       'Upside Business Travel\n4.1', 'Buckman\n3.5',
       'Insight Enterprises, Inc.\n4.2', 'Tower Health\n3.5',
       'Triplebyte\n3.2', 'PulsePoint\n4.3', 'Exponent\n3.5',
       'Guardian Life\n3.5',
       'Spectrum Communications and Consulting\n3.4',
       'Oversight Systems\n4.7', 'LSQ\n4.2',
       'MIT Lincoln Laboratory\n3.8', 'Kingfisher Systems\n4.5',
       'Formation\n2.8', 'Cohere Health\n5.0', 'Acuity Insurance\n4.8',
       'Chef\n3.6', 'Puget Sound Energy\n3.3', 'Sandhills Global\n2.7',
       'A Place for Mom\n2.7', 'Great-Circle Technologies\n2.2',
       'Edmunds.com\n3.4', 'Cambridge Associates, LLC\n3.1',
       'Liberty Mutual Insurance\n3.4', 'Cenlar\n2.6',
       'Arsenal Biosciences\n5.0', 'Eversight\n4.2', 'Pfizer\n4.1',
       'Klaviyo\n4.8', 'Intellectual Ventures\n3.3', 'GovTech\n3.7',
       'Quick Base\n4.3', 'Giving Assistant\n4.8', 'Takeda\n3.7',
       'Netskope\n4.0', 'IT Concepts\n4.8', 'iSeatz\n3.5',
       'Summa Health System\n3.7', 'Benson Hill\n3.5', 'Twitter\n4.1',
       'Postmates - Corporate HQ\n3.2', 'Envision LLC\n4.5',
       'Swiss Re\n3.8', 'Systems & Technology Research\n4.5',
       'Dermalogica\n3.8', 'Bayview Asset Management\n3.7',
       'Via Transportation\n3.7', 'Grid Dynamics\n4.0',
       'Tempus Labs\n3.3', 'CareDx\n2.5', 'IZEA\n4.2', 'Autodesk\n4.0',
       'Caterpillar\n3.7', 'New England Biolabs\n4.9',
       'Allied Solutions\n3.4', 'The Knot Worldwide\n3.5',
       'IFG Companies\n2.9', 'Amyris\n3.3', 'AstraZeneca\n4.0',
       'Powertek\n3.6', 'Object Partners\n4.7', 'The Mom Project\n4.9',
       'Lightspeed Systems\n4.3', 'Stripe\n4.0',
       'Comprehensive Healthcare\n2.6',
       'Fullpower Technologies, Inc.\n4.5', 'Mars\n3.9',
       'NuWave Solutions\n4.4', 'Merrick Bank\n3.6', 'QOMPLX\n3.5',
       'GutCheck\n3.8', 'Inter-American Development Bank\n3.5',
       'Avlino\n4.9', 'Stratagem Group\n4.4', 'Evidation\n4.1',
       'Tecolote Research\n3.8', 'Tivity Health\n3.2', 'hc1\n2.9',
       'HP Inc.\n4.1', 'SAIC\n3.7', 'AllianceBernstein\n3.2',
       'Big Huge Games\n4.9', 'Maxar Technologies\n3.5',
       'Phantom AI\n5.0', 'Noblis\n4.0', 'Spring Health\n3.6',
       'ClearEdge\n4.0', 'GetWellNetwork\n4.8', 'TACG Solutions\n4.5',
       'Scoop\n4.7', 'Montway Inc\n3.4', 'Juniper Networks\n3.8',
       'Notion Labs\n5.0', 'Lendio\n4.9', 'Direct Agents\n4.4',
       'NAVEX Global\n3.3', 'Upstart\n4.2', 'AppLovin\n4.8',
       'ISO New England\n3.8', 'Relativity\n3.7', 'Tempo Automation\n3.3',
       'MITRE\n3.3', 'Expedition Technology, Inc.\n5.0', 'Evidera\n3.8',
       'Plymouth Rock Assurance\n3.4', 'Crown Bioscience\n2.4',
       'GNS Healthcare\n2.9', 'OneMagnify\n4.4', 'SPECTRUM\n2.9',
       'Advanced BioScience Laboratories\n2.7',
       'Procore Technologies\n4.2', 'Ritedose\n3.5',
       'Covid-19 Search Partners', 'bioMérieux\n4.2',
       'Radical Convergence', 'Leidos\n3.5', 'Demandbase\n4.5',
       'Shelter Insurance\n4.1', 'USAC\n2.7',
       'General Dynamics Information Technology\n3.4', 'Offerpad\n4.4',
       'Magna International Inc.\n3.5', 'United BioSource\n2.3',
       'Kelly\n3.4', 'C3.ai\n4.7', 'Quartet Health\n3.9',
       'Midland Credit Management\n3.3',
       'Resurgent Capital Services\n4.4', 'webfx.com\n4.7',
       'Argo Group US\n3.5', 'BWX Technologies\n3.3', 'Life360\n3.9',
       'MassMutual\n3.7', 'Natera\n3.9', 'Genentech\n4.0', 'Ntrepid\n4.2',
       'Constant Contact\n3.6', 'Sage Intacct\n4.7',
       'Shape Security\n4.1', 'SkillSoniq\n5.0', 'Joby Aviation\n4.3',
       "Cook Children's Health Care System\n3.8",
       'Rubius Therapeutics\n3.8', 'GreatAmerica Financial Services\n4.6',
       'Coverent\n4.1', 'Mteq\n3.7', 'Rocket Lawyer\n4.4',
       'Alion Science & Technology\n3.6', 'Protolabs\n3.7',
       'Quest Integrity\n2.9', 'Phoenix Operations Group\n5.0',
       'Dice.com\n3.4', 'Southwest Research Institute\n3.9',
       'The Buffalo Group\n4.3',
       'Central California Alliance for Health\n3.5',
       'Security Finance Corporation of Spartanburg\n3.1',
       'Opendoor\n3.6', 'Global Data Management Inc\n4.5',
       'Photon Infotech\n3.0', 'REE\n5.0',
       'Riverside Research Institute\n3.6', 'T. Rowe Price\n3.6',
       'Encode, Inc.', 'Brighthouse Financial\n3.8',
       'II-VI Incorporated\n3.3', 'Surya Systems\n4.6', 'PayPal\n3.8',
       'Predictive Research Inc\n3.9', '1010data\n3.1', 'Gigya\n3.6',
       'Genesis Research\n5.0', 'Sanofi\n3.7', 'XPO Logistics\n3.7',
       'Trace Data\n3.9', 'Descript\n4.3',
       'Rincon Research Corporation\n4.2', 'Better Hire\n4.0',
       'Parker Hannifin\n3.3', 'Gallup\n4.1', 'Insider Inc\n3.3',
       'Rapid Value Solutions\n3.9', 'Battelle\n3.1',
       'The Drive Media, Inc.\n5.0',
       'Pacific Northwest National Laboratory\n3.7',
       'US Pharmacopeia\n3.2', 'Itlize Global\n4.6', 'eBay\n3.5',
       'Paige\n5.0', 'ABIOMED\n4.1', 'Comcast\n3.5',
       'Metronome, LLC\n3.2', 'Lawrence Livermore National Lab\n4.7',
       'FHLBank Pittsburgh\n3.8', 'Jacobs\n3.6',
       'Underwriters Laboratories\n3.3', 'Altus Group\n3.7', 'Jobot\n5.0',
       'Trovetechs Inc', 'Oshkosh Corporation\n4.2', 'Mackin\n3.4',
       'PETADATA', 'VBeyond Corporation\n4.4', 'Take-Two\n3.7',
       'Colony Brands\n3.7', 'Capio Group\n4.1', 'SleePare\n3.4',
       'ShorePoint\n4.5', 'Dolphin\n3.5', 'TE Connectivity\n3.6',
       'State of Virginia\n3.2', 'TA Digital\n3.7',
       'Market America Inc\n4.0', 'TrueAccord\n3.4',
       'ALTA IT Services\n3.9', 'Kollasoft Inc.\n3.2',
       'ASRC Federal Holding Company\n3.4', 'Adwait Algorithm\n4.4',
       'Cambridge FX\n3.5', 'Metromile\n3.8', 'Criteo\n3.9',
       'Advance Sourcing Concepts\n3.4', 'Enterprise Solutions Inc\n3.8',
       'Microagility', 'Conch Technologies, Inc\n4.6', 'GSK\n3.9',
       'Rainmaker Resources, LLC', '22nd Century Technologies\n3.7',
       'Huxley\n3.3', 'FM Systems\n3.4', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina\n3.7',
       'Jane Street\n4.8', 'SSATI\n5.0',
       'Solving IT International Inc\n3.4',
       'The Davey Tree Expert Company\n3.3', 'Centauri\n4.6',
       'Stride Search', 'Software Engineering Institute\n2.6',
       'TechProjects\n4.8', '7Park Data\n3.9',
       'Ameritas Life Insurance Corp\n3.0', 'Western Digital\n3.5',
       'Shimento, Inc.\n2.9', 'Averity\n5.0', 'Praxis Engineering\n4.7',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Cambridge Mobile Telematics\n4.9', 'Blend360\n4.6',
       'Nolij Consulting\n3.9', 'Hatch Data Inc',
       'Compass Consulting Group\n4.7', 'SolutionIT, Inc.\n4.4',
       'Perspecta\n3.2', 'Smith Hanley Associates\n4.5',
       'Allen Institute\n3.5', 'Eliassen Group\n4.4',
       'Bayside Solutions\n3.1', 'Evolve Vacation Rental\n3.5',
       'AgreeYa Solutions\n3.8', 'Carolina Power & Light Co\n3.7',
       'New Iron Group, Inc.\n5.0', 'Travelers\n4.0', 'Twitch\n3.6',
       'Biogen\n3.6', 'HireAi', 'Mentor Graphics\n4.1',
       'WCG (WIRB-Copernicus Group)\n3.6',
       'Visionary Integration Professionals\n4.3', 'Dynetics\n4.0',
       'Navy Federal Credit Union\n3.9',
       'Exact Sciences Corporation\n4.0',
       'Community Behavioral Health\n3.6', 'Reynolds American\n3.3',
       'LifeOmic\n5.0', 'Visionist, Inc.\n4.9', 'Navio',
       'Concerto HealthAI\n3.3', 'Evolvinc', 'PROPRIUS\n5.0',
       'TECHNOCRAFT Solutions\n3.4', 'Latitude, Inc.\n4.1',
       'Royce Geospatial\n5.0', 'CyberCoders\n4.2',
       'Booz Allen Hamilton Inc.\n3.7', 'Burns & McDonnell\n3.8',
       'InvenTech Info\n4.8', 'Robert Half\n3.5',
       'Conflux Systems Inc.\n4.5', 'Voice\n3.4',
       'Falcon IT & Staffing Solutions', 'DataLab USA\n3.6',
       'Werner Enterprises Inc\n3.1', 'PeopleCom\n5.0',
       'VANTA Partners\n5.0', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.\n3.5", 'Sonde Health',
       'Maxiom\n5.0', 'Change Healthcare\n2.7', 'DCS Corp\n4.1',
       'Hive (CA)\n2.1', 'Hackensack Meridian Health\n3.3',
       'Net2Source Inc.\n3.2', 'The Trade Desk\n3.2', 'IBM\n3.7',
       'Knowesis Inc.\n4.4', 'MoTek Technologies\n3.1', 'HPOne\n3.5',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day\n2.7',
       'ThreeBridge Solutions\n3.5', 'Numeric, LLC\n3.2',
       'Centraprise\n4.2', 'DW Simpson\n4.2', 'LinQuest\n3.9',
       'Trexquant Investment\n4.0', 'Fleetcor\n3.7',
       'Radiant Digital\n4.5', 'Child Care Aware of America\n2.8',
       'IntelliPro Group Inc.\n4.1', 'USI\n3.4', 'Apex Systems\n3.9',
       'Pragmatics, Inc.\n2.9', 'Crossover Health\n3.5',
       'Lorven Technologies Inc\n4.0', 'Gap Inc.\n3.5',
       'Tygart Technology, Inc\n4.7', 'Murray Resources\n4.6',
       'New York Technology Partners\n4.0',
       'Two95 International Inc.\n4.0', 'Sophinea', 'CRS Group\n4.7',
       'Blackstone Talent Group\n3.5', 'Roche\n4.1',
       'Creative Circle\n3.6', 'Blue Horizon Tek Solutions\n5.0',
       'Sharpedge Solutions Inc\n4.7',
       'Alaka`ina Foundation Family of Companies\n3.6',
       'Hexagon US Federal\n2.7', 'Monte Rosa Therapeutics',
       'Comtech Global Inc\n4.0', 'Aveshka, Inc.\n3.8',
       '10x Genomics\n4.2', 'CompuForce', '1-800-Flowers\n2.7',
       'Aptive\n3.5', 'JCD Staffing\n5.0', 'Thumbtack\n3.9',
       'MILVETS Systems Technology, Inc.\n3.4', 'Apple\n4.1',
       'Kforce\n4.1', 'OppLoans\n4.4', 'Brillient\n3.9',
       'Xator Corporation\n2.9', 'HAN IT Staffing Inc.\n4.6',
       'Infinitive Inc\n3.4', 'New Relic\n4.7', 'ICW Group\n3.3',
       'NYSTEC\n3.8', 'E3 Federal Solutions\n4.5', 'Peraton\n3.4',
       'Group O\n3.1', 'CaptiveAire\n4.1', 'Temboo\n3.9', 'Kibo',
       'AeroVironment\n4.2', 'Applied Research Laboratories\n3.8',
       'Conagen\n2.0', 'Alector\n4.8', 'Homology Medicines, Inc.\n4.4',
       'Inland Empire Health Plan\n3.3',
       'Sandia National Laboratories\n3.8', 'CIA\n3.8',
       'Maven Wave Partners\n4.5', 'Ovative Group\n4.3', 'Kognetics\n3.6',
       'Envision Healthcare\n2.9', 'ConsumerTrack\n3.2',
       'Meridian Knowledge Solutions\n4.4', 'UST Global\n4.2',
       'IMG Systems\n3.2', 'Trident Systems Inc\n3.4', 'GrainBridge, LLC',
       'First Health Group\n3.2', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company\n2.8',
       'Axiologic Solutions\n4.5', 'Indigo Slate\n3.0', 'Cubic\n3.3',
       'Advanced Bio-Logic Solutions Corp\n4.0',
       'Alignment Healthcare\n3.5', 'WGSN\n3.5',
       'ISYS Technologies, Inc.\n3.6', 'TransVoyant\n3.0', 'Geotab\n4.3',
       'EGlobalTech\n3.7', 'Central Business Solutions, Inc\n3.0',
       'KeHE Distributors\n2.5', 'Moxie Software\n3.0',
       'Unicom Technologies INC\n4.7', 'Americo Life\n3.3',
       'Tokio Marine HCC\n3.3', 'CACI International\n3.5',
       'Berico Technologies', 'Kehe Food Distributors', 'Pactera Edge',
       'Qurate Retail Group\n3.6', 'A-Line Staffing Solutions\n4.1',
       'Clear Ridge Defense', 'Criterion Systems, Inc.\n3.8',
       'Foundation Medicine\n4.0', 'TRANZACT\n3.6', 'JKGT', 'AccessHope',
       'ChaTeck Incorporated\n5.0'], dtype=object)

In [667]:
def clean_company_name_feature(value):
    """
    Cleans the input string by removing the newline character ('\n') and any text that follows it.

    Parameters:
    -------------
    value (str): 
        A string containing company names and additional information after a newline character.

    Returns:
    -------------
    str: 
        A cleaned version of the input string with the part after the newline removed.
    """
    return re.sub(r'\n.*', '', value)

In [668]:
cleaning_df['Company Name'] = cleaning_df['Company Name'].apply(clean_company_name_feature)

In [669]:
cleaning_df['Company Name'].unique()

array(['Healthfirst', 'ManTech', 'Analysis Group', 'INFICON',
       'Affinity Solutions', 'HG Insights', 'Novartis', 'iRobot',
       'Intuit - Data', 'XSELL Technologies', 'Novetta', '1904labs',
       'PNNL', 'Old World Industries', 'Mathematica Policy Research',
       'Guzman & Griffin Technologies (GGTI)', 'Upside Business Travel',
       'Buckman', 'Insight Enterprises, Inc.', 'Tower Health',
       'Triplebyte', 'PulsePoint', 'Exponent', 'Guardian Life',
       'Spectrum Communications and Consulting', 'Oversight Systems',
       'LSQ', 'MIT Lincoln Laboratory', 'Kingfisher Systems', 'Formation',
       'Cohere Health', 'Acuity Insurance', 'Chef', 'Puget Sound Energy',
       'Sandhills Global', 'A Place for Mom', 'Great-Circle Technologies',
       'Edmunds.com', 'Cambridge Associates, LLC',
       'Liberty Mutual Insurance', 'Cenlar', 'Arsenal Biosciences',
       'Eversight', 'Pfizer', 'Klaviyo', 'Intellectual Ventures',
       'GovTech', 'Quick Base', 'Giving Assistant', 'Takeda', 'Netskope',
       'IT Concepts', 'iSeatz', 'Summa Health System', 'Benson Hill',
       'Twitter', 'Postmates - Corporate HQ', 'Envision LLC', 'Swiss Re',
       'Systems & Technology Research', 'Dermalogica',
       'Bayview Asset Management', 'Via Transportation', 'Grid Dynamics',
       'Tempus Labs', 'CareDx', 'IZEA', 'Autodesk', 'Caterpillar',
       'New England Biolabs', 'Allied Solutions', 'The Knot Worldwide',
       'IFG Companies', 'Amyris', 'AstraZeneca', 'Powertek',
       'Object Partners', 'The Mom Project', 'Lightspeed Systems',
       'Stripe', 'Comprehensive Healthcare',
       'Fullpower Technologies, Inc.', 'Mars', 'NuWave Solutions',
       'Merrick Bank', 'QOMPLX', 'GutCheck',
       'Inter-American Development Bank', 'Avlino', 'Stratagem Group',
       'Evidation', 'Tecolote Research', 'Tivity Health', 'hc1',
       'HP Inc.', 'SAIC', 'AllianceBernstein', 'Big Huge Games',
       'Maxar Technologies', 'Phantom AI', 'Noblis', 'Spring Health',
       'ClearEdge', 'GetWellNetwork', 'TACG Solutions', 'Scoop',
       'Montway Inc', 'Juniper Networks', 'Notion Labs', 'Lendio',
       'Direct Agents', 'NAVEX Global', 'Upstart', 'AppLovin',
       'ISO New England', 'Relativity', 'Tempo Automation', 'MITRE',
       'Expedition Technology, Inc.', 'Evidera',
       'Plymouth Rock Assurance', 'Crown Bioscience', 'GNS Healthcare',
       'OneMagnify', 'SPECTRUM', 'Advanced BioScience Laboratories',
       'Procore Technologies', 'Ritedose', 'Covid-19 Search Partners',
       'bioMérieux', 'Radical Convergence', 'Leidos', 'Demandbase',
       'Shelter Insurance', 'USAC',
       'General Dynamics Information Technology', 'Offerpad',
       'Magna International Inc.', 'United BioSource', 'Kelly', 'C3.ai',
       'Quartet Health', 'Midland Credit Management',
       'Resurgent Capital Services', 'webfx.com', 'Argo Group US',
       'BWX Technologies', 'Life360', 'MassMutual', 'Natera', 'Genentech',
       'Ntrepid', 'Constant Contact', 'Sage Intacct', 'Shape Security',
       'SkillSoniq', 'Joby Aviation',
       "Cook Children's Health Care System", 'Rubius Therapeutics',
       'GreatAmerica Financial Services', 'Coverent', 'Mteq',
       'Rocket Lawyer', 'Alion Science & Technology', 'Protolabs',
       'Quest Integrity', 'Phoenix Operations Group', 'Dice.com',
       'Southwest Research Institute', 'The Buffalo Group',
       'Central California Alliance for Health',
       'Security Finance Corporation of Spartanburg', 'Opendoor',
       'Global Data Management Inc', 'Photon Infotech', 'REE',
       'Riverside Research Institute', 'T. Rowe Price', 'Encode, Inc.',
       'Brighthouse Financial', 'II-VI Incorporated', 'Surya Systems',
       'PayPal', 'Predictive Research Inc', '1010data', 'Gigya',
       'Genesis Research', 'Sanofi', 'XPO Logistics', 'Trace Data',
       'Descript', 'Rincon Research Corporation', 'Better Hire',
       'Parker Hannifin', 'Gallup', 'Insider Inc',
       'Rapid Value Solutions', 'Battelle', 'The Drive Media, Inc.',
       'Pacific Northwest National Laboratory', 'US Pharmacopeia',
       'Itlize Global', 'eBay', 'Paige', 'ABIOMED', 'Comcast',
       'Metronome, LLC', 'Lawrence Livermore National Lab',
       'FHLBank Pittsburgh', 'Jacobs', 'Underwriters Laboratories',
       'Altus Group', 'Jobot', 'Trovetechs Inc', 'Oshkosh Corporation',
       'Mackin', 'PETADATA', 'VBeyond Corporation', 'Take-Two',
       'Colony Brands', 'Capio Group', 'SleePare', 'ShorePoint',
       'Dolphin', 'TE Connectivity', 'State of Virginia', 'TA Digital',
       'Market America Inc', 'TrueAccord', 'ALTA IT Services',
       'Kollasoft Inc.', 'ASRC Federal Holding Company',
       'Adwait Algorithm', 'Cambridge FX', 'Metromile', 'Criteo',
       'Advance Sourcing Concepts', 'Enterprise Solutions Inc',
       'Microagility', 'Conch Technologies, Inc', 'GSK',
       'Rainmaker Resources, LLC', '22nd Century Technologies', 'Huxley',
       'FM Systems', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina', 'Jane Street',
       'SSATI', 'Solving IT International Inc',
       'The Davey Tree Expert Company', 'Centauri', 'Stride Search',
       'Software Engineering Institute', 'TechProjects', '7Park Data',
       'Ameritas Life Insurance Corp', 'Western Digital',
       'Shimento, Inc.', 'Averity', 'Praxis Engineering',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory',
       'Cambridge Mobile Telematics', 'Blend360', 'Nolij Consulting',
       'Hatch Data Inc', 'Compass Consulting Group', 'SolutionIT, Inc.',
       'Perspecta', 'Smith Hanley Associates', 'Allen Institute',
       'Eliassen Group', 'Bayside Solutions', 'Evolve Vacation Rental',
       'AgreeYa Solutions', 'Carolina Power & Light Co',
       'New Iron Group, Inc.', 'Travelers', 'Twitch', 'Biogen', 'HireAi',
       'Mentor Graphics', 'WCG (WIRB-Copernicus Group)',
       'Visionary Integration Professionals', 'Dynetics',
       'Navy Federal Credit Union', 'Exact Sciences Corporation',
       'Community Behavioral Health', 'Reynolds American', 'LifeOmic',
       'Visionist, Inc.', 'Navio', 'Concerto HealthAI', 'Evolvinc',
       'PROPRIUS', 'TECHNOCRAFT Solutions', 'Latitude, Inc.',
       'Royce Geospatial', 'CyberCoders', 'Booz Allen Hamilton Inc.',
       'Burns & McDonnell', 'InvenTech Info', 'Robert Half',
       'Conflux Systems Inc.', 'Voice', 'Falcon IT & Staffing Solutions',
       'DataLab USA', 'Werner Enterprises Inc', 'PeopleCom',
       'VANTA Partners', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.", 'Sonde Health', 'Maxiom',
       'Change Healthcare', 'DCS Corp', 'Hive (CA)',
       'Hackensack Meridian Health', 'Net2Source Inc.', 'The Trade Desk',
       'IBM', 'Knowesis Inc.', 'MoTek Technologies', 'HPOne',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day', 'ThreeBridge Solutions',
       'Numeric, LLC', 'Centraprise', 'DW Simpson', 'LinQuest',
       'Trexquant Investment', 'Fleetcor', 'Radiant Digital',
       'Child Care Aware of America', 'IntelliPro Group Inc.', 'USI',
       'Apex Systems', 'Pragmatics, Inc.', 'Crossover Health',
       'Lorven Technologies Inc', 'Gap Inc.', 'Tygart Technology, Inc',
       'Murray Resources', 'New York Technology Partners',
       'Two95 International Inc.', 'Sophinea', 'CRS Group',
       'Blackstone Talent Group', 'Roche', 'Creative Circle',
       'Blue Horizon Tek Solutions', 'Sharpedge Solutions Inc',
       'Alaka`ina Foundation Family of Companies', 'Hexagon US Federal',
       'Monte Rosa Therapeutics', 'Comtech Global Inc', 'Aveshka, Inc.',
       '10x Genomics', 'CompuForce', '1-800-Flowers', 'Aptive',
       'JCD Staffing', 'Thumbtack', 'MILVETS Systems Technology, Inc.',
       'Apple', 'Kforce', 'OppLoans', 'Brillient', 'Xator Corporation',
       'HAN IT Staffing Inc.', 'Infinitive Inc', 'New Relic', 'ICW Group',
       'NYSTEC', 'E3 Federal Solutions', 'Peraton', 'Group O',
       'CaptiveAire', 'Temboo', 'Kibo', 'AeroVironment',
       'Applied Research Laboratories', 'Conagen', 'Alector',
       'Homology Medicines, Inc.', 'Inland Empire Health Plan',
       'Sandia National Laboratories', 'CIA', 'Maven Wave Partners',
       'Ovative Group', 'Kognetics', 'Envision Healthcare',
       'ConsumerTrack', 'Meridian Knowledge Solutions', 'UST Global',
       'IMG Systems', 'Trident Systems Inc', 'GrainBridge, LLC',
       'First Health Group', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company', 'Axiologic Solutions',
       'Indigo Slate', 'Cubic', 'Advanced Bio-Logic Solutions Corp',
       'Alignment Healthcare', 'WGSN', 'ISYS Technologies, Inc.',
       'TransVoyant', 'Geotab', 'EGlobalTech',
       'Central Business Solutions, Inc', 'KeHE Distributors',
       'Moxie Software', 'Unicom Technologies INC', 'Americo Life',
       'Tokio Marine HCC', 'CACI International', 'Berico Technologies',
       'Kehe Food Distributors', 'Pactera Edge', 'Qurate Retail Group',
       'A-Line Staffing Solutions', 'Clear Ridge Defense',
       'Criterion Systems, Inc.', 'Foundation Medicine', 'TRANZACT',
       'JKGT', 'AccessHope', 'ChaTeck Incorporated'], dtype=object)

## `Location Feature`

The Location feature in the dataset initially contained location information in the form of city names, states, and sometimes additional details. To standardize this, two functions were applied. The job_location_new_feature function extracts the state abbreviation from location strings by checking whether they contain a city-state format (separated by a comma) or are just a state name, returning the state abbreviation in uppercase. The clean_location_feature function further refines the location by keeping only the state information, removing any city names. After applying these transformations, a new column, Location, is generated, containing the state names in a standardized format, with values such as 'NY', 'CA', 'TX', and 'FL', representing state abbreviations, or specific locations like 'Remote'. This ensures consistency and prepares the data for further analysis.

In [670]:
cleaning_df['Location'].unique()

array(['New York, NY', 'Chantilly, VA', 'Boston, MA', 'Newton, MA',
       'Santa Barbara, CA', 'Cambridge, MA', 'Bedford, MA',
       'San Diego, CA', 'Chicago, IL', 'Herndon, VA', 'Saint Louis, MO',
       'Richland, WA', 'Northbrook, IL', 'Washington, DC', 'Remote',
       'Memphis, TN', 'Plano, TX', 'West Grove, PA', 'Phoenix, AZ',
       'Appleton, WI', 'Atlanta, GA', 'Orlando, FL', 'Lexington, MA',
       'McLean, VA', 'San Francisco, CA', 'Sheboygan, WI',
       'United States', 'Bothell, WA', 'Lincoln, NE', 'Overland Park, KS',
       'Santa Monica, CA', 'Portsmouth, NH', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Bellevue, WA',
       'New Orleans, LA', 'Akron, OH', 'Fort Wayne, IN', 'Woburn, MA',
       'Carson, CA', 'Coral Gables, FL', 'Santa Clara, CA',
       'Brisbane, CA', 'Winter Park, FL', 'Redwood City, CA',
       'Peoria, IL', 'Ipswich, MA', 'Carmel, IN', 'Emeryville, CA',
       'Gaithersburg, MD', 'Longmont, CO', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'Springfield, VA', 'Alexandria, VA', 'Utah',
       'Reston, VA', 'Denver, CO', 'New Jersey', 'Aurora, CO',
       'Hill AFB, UT', 'Chandler, AZ', 'Indianapolis, IN',
       'Nashville, TN', 'Timonium, MD', 'Burlingame, CA',
       'Annapolis Junction, MD', 'Bethesda, MD', 'Dayton, OH',
       'Schaumburg, IL', 'Cupertino, CA', 'Lehi, UT', 'Culver City, CA',
       'Lake Oswego, OR', 'San Mateo, CA', 'Holyoke, MA',
       'Woodbridge, NJ', 'Dearborn, MI', 'Maryland Heights, MO',
       'Rockville, MD', 'Carpinteria, CA', 'Columbia, SC',
       'Hauppauge, NY', 'Fort Meade, MD', 'Columbia, MO', 'Vicksburg, MS',
       'Birmingham, AL', 'Blue Bell, PA', 'Cincinnati, OH',
       'Harrisburg, PA', 'Oak Ridge, TN', 'San Carlos, CA', 'Waltham, MA',
       'Fort Worth, TX', 'Smithfield, RI', 'Cedar Rapids, IA',
       'Fort Belvoir, VA', 'Linthicum Heights, MD', 'Maple Plain, MN',
       'Tulsa, OK', 'Baltimore, MD', 'Oklahoma City, OK',
       'Scotts Valley, CA', 'Spartanburg, SC', 'Hartford, CT',
       'Beavercreek, OH', 'Norfolk, VA', 'Charlotte, NC', 'Champaign, IL',
       'Texas', 'Hoboken, NJ', 'Lebanon, IN', 'Oakland, CA',
       'Melbourne, FL', 'Cleveland, OH', 'Norwell, MA', 'San Jose, CA',
       'Piscataway, NJ', 'Danvers, MA', 'Vienna, VA', 'Livermore, CA',
       'Pittsburgh, PA', 'Irvine, CA', 'Oshkosh, WI', 'Menlo Park, CA',
       'Dallas, TX', 'Arlington, VA', 'Monroe, WI', 'Sacramento, CA',
       'Hampton, VA', 'Richmond, VA', 'Monterey, CA', 'Woodlawn, MD',
       'Ann Arbor, MI', 'Concord, CA', 'Durham, NC', 'Kent, OH',
       'Laurel, MD', 'Columbia, MD', 'Falls Church, VA',
       'Thousand Oaks, CA', 'Edison, NJ', 'Adelphi, MD', 'Seattle, WA',
       'Sunnyvale, CA', 'Fremont, CA', 'Hamilton, NJ', 'Huntsville, AL',
       'Merrifield, VA', 'Madison, WI', 'Philadelphia, PA',
       'Winston-Salem, NC', 'Raleigh, NC', 'Burbank, CA', 'San Ramon, CA',
       'Oxnard, CA', 'Kansas City, MO', 'Jersey City, NJ',
       'Manchester, NH', 'Winters, TX', 'Brooklyn, NY', 'Germantown, MD',
       'Omaha, NE', 'Open Fork, VA', 'Ashburn, VA', 'Lombard, IL',
       'Alpharetta, GA', 'Boulder, CO', 'Mountain View, CA',
       'Trumbull, CT', 'Sterling, VA', 'Foster City, CA', 'Frederick, MD',
       'Colorado Springs, CO', 'Southfield, MI', 'San Clemente, CA',
       'The Woodlands, TX', 'Pleasanton, CA', 'Wilmington, DE',
       'Fort Sam Houston, TX', 'Lexington Park, MD',
       'Patuxent, Anne Arundel, MD', 'Fairfax, VA', 'San Antonio, TX',
       'Silver Spring, MD', 'Portland, OR', 'Simi Valley, CA',
       'New Bedford, MA', 'Rancho Cucamonga, CA', 'Collegeville, PA',
       'Minneapolis, MN', 'Gahanna, OH', 'California', 'Wellesley, MA',
       'Washington, VA', 'Orange, CA', 'Bridgeport, WV', 'Oakville, CA',
       'Naperville, IL', 'Houston, TX', 'Redmond, WA', 'West Chester, PA',
       'Quantico, VA', 'Fort Lee, NJ', 'Irwindale, CA'], dtype=object)

In [671]:
def job_location_new_feature(value):
    """
    Cleans the input string by removing the newline character ('\n') and any text that follows it.

    Parameters:
    --------------
    value (str): 
        A string containing company names and additional information after a newline character.

    Returns:
    --------------
    str: 
        A cleaned version of the input string with the part after the newline removed.
    """
    state_and_abr =  value.split(', ')
    if len(state_and_abr) > 1:
        if len(state_and_abr) == 2: 
            return state_and_abr[1]
        else:
            return value[:2].upper()
    else:
        return value[:2].upper()

In [672]:
cleaning_df['job_location'] = cleaning_df['Location'].apply(job_location_new_feature)

In [673]:
cleaning_df['job_location'].unique()

array(['NY', 'VA', 'MA', 'CA', 'IL', 'MO', 'WA', 'DC', 'RE', 'TN', 'TX',
       'PA', 'AZ', 'WI', 'GA', 'FL', 'UN', 'NE', 'KS', 'NH', 'NJ', 'LA',
       'OH', 'IN', 'MD', 'CO', 'UT', 'OR', 'MI', 'SC', 'MS', 'AL', 'RI',
       'IA', 'MN', 'OK', 'CT', 'NC', 'TE', 'DE', 'WV'], dtype=object)

In [674]:
def clean_location_faeture(value):
    """
    Extracts the state abbreviation from a given location string. If the location contains a comma, it assumes 
    the format is 'City, State' and returns the state abbreviation. If the location does not contain a comma,
    it returns the first two characters of the string as the state abbreviation (in uppercase).

    Parameters:
    -------------
    value (str): 
        A location string, either in the format 'City, State' or a plain state name.

    Returns:
    -------------
    str: 
        The state abbreviation in uppercase. If the input is a city with a state, the state abbreviation
        is returned. If the input is a state, the first two letters of the state are returned.
    """
    state_and_abr = value.split(', ')
    return state_and_abr[0]

In [675]:
cleaning_df['Location'] = cleaning_df['Location'].apply(clean_location_faeture)

In [676]:
cleaning_df['Location'].unique()

array(['New York', 'Chantilly', 'Boston', 'Newton', 'Santa Barbara',
       'Cambridge', 'Bedford', 'San Diego', 'Chicago', 'Herndon',
       'Saint Louis', 'Richland', 'Northbrook', 'Washington', 'Remote',
       'Memphis', 'Plano', 'West Grove', 'Phoenix', 'Appleton', 'Atlanta',
       'Orlando', 'Lexington', 'McLean', 'San Francisco', 'Sheboygan',
       'United States', 'Bothell', 'Lincoln', 'Overland Park',
       'Santa Monica', 'Portsmouth', 'Ewing', 'South San Francisco',
       'Palo Alto', 'Bellevue', 'New Orleans', 'Akron', 'Fort Wayne',
       'Woburn', 'Carson', 'Coral Gables', 'Santa Clara', 'Brisbane',
       'Winter Park', 'Redwood City', 'Peoria', 'Ipswich', 'Carmel',
       'Emeryville', 'Gaithersburg', 'Longmont', 'Austin', 'Yakima',
       'Santa Cruz', 'Springfield', 'Alexandria', 'Utah', 'Reston',
       'Denver', 'New Jersey', 'Aurora', 'Hill AFB', 'Chandler',
       'Indianapolis', 'Nashville', 'Timonium', 'Burlingame',
       'Annapolis Junction', 'Bethesda', 'Dayton', 'Schaumburg',
       'Cupertino', 'Lehi', 'Culver City', 'Lake Oswego', 'San Mateo',
       'Holyoke', 'Woodbridge', 'Dearborn', 'Maryland Heights',
       'Rockville', 'Carpinteria', 'Columbia', 'Hauppauge', 'Fort Meade',
       'Vicksburg', 'Birmingham', 'Blue Bell', 'Cincinnati', 'Harrisburg',
       'Oak Ridge', 'San Carlos', 'Waltham', 'Fort Worth', 'Smithfield',
       'Cedar Rapids', 'Fort Belvoir', 'Linthicum Heights', 'Maple Plain',
       'Tulsa', 'Baltimore', 'Oklahoma City', 'Scotts Valley',
       'Spartanburg', 'Hartford', 'Beavercreek', 'Norfolk', 'Charlotte',
       'Champaign', 'Texas', 'Hoboken', 'Lebanon', 'Oakland', 'Melbourne',
       'Cleveland', 'Norwell', 'San Jose', 'Piscataway', 'Danvers',
       'Vienna', 'Livermore', 'Pittsburgh', 'Irvine', 'Oshkosh',
       'Menlo Park', 'Dallas', 'Arlington', 'Monroe', 'Sacramento',
       'Hampton', 'Richmond', 'Monterey', 'Woodlawn', 'Ann Arbor',
       'Concord', 'Durham', 'Kent', 'Laurel', 'Falls Church',
       'Thousand Oaks', 'Edison', 'Adelphi', 'Seattle', 'Sunnyvale',
       'Fremont', 'Hamilton', 'Huntsville', 'Merrifield', 'Madison',
       'Philadelphia', 'Winston-Salem', 'Raleigh', 'Burbank', 'San Ramon',
       'Oxnard', 'Kansas City', 'Jersey City', 'Manchester', 'Winters',
       'Brooklyn', 'Germantown', 'Omaha', 'Open Fork', 'Ashburn',
       'Lombard', 'Alpharetta', 'Boulder', 'Mountain View', 'Trumbull',
       'Sterling', 'Foster City', 'Frederick', 'Colorado Springs',
       'Southfield', 'San Clemente', 'The Woodlands', 'Pleasanton',
       'Wilmington', 'Fort Sam Houston', 'Lexington Park', 'Patuxent',
       'Fairfax', 'San Antonio', 'Silver Spring', 'Portland',
       'Simi Valley', 'New Bedford', 'Rancho Cucamonga', 'Collegeville',
       'Minneapolis', 'Gahanna', 'California', 'Wellesley', 'Orange',
       'Bridgeport', 'Oakville', 'Naperville', 'Houston', 'Redmond',
       'West Chester', 'Quantico', 'Fort Lee', 'Irwindale'], dtype=object)

In [677]:
cleaning_df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'job_location'],
      dtype='object')

## `Headquarters Feature`

The Headquarters feature contains the location of company headquarters, represented as city and state (or country) pairs, with values such as "New York, NY," "Herndon, VA," and "Santa Barbara, CA." After analyzing the data, it was decided that no modifications or cleaning were necessary for this feature, as the values are already in a standardized format. Therefore, the Headquarters column remains unchanged and is retained as it is for further analysis or processing within the project.

In [678]:
cleaning_df['Headquarters'].unique()

array(['New York, NY', 'Herndon, VA', 'Boston, MA',
       'Bad Ragaz, Switzerland', 'Santa Barbara, CA',
       'Basel, Switzerland', 'Bedford, MA', 'Mountain View, CA',
       'Chicago, IL', 'Mc Lean, VA', 'Saint Louis, MO', 'Richland, WA',
       'Northbrook, IL', 'Princeton, NJ', 'Mays Landing, NJ',
       'Washington, DC', 'Memphis, TN', 'Tempe, AZ', 'Reading, PA',
       'San Francisco, CA', 'Menlo Park, CA', 'Atlanta, GA',
       'Orlando, FL', 'Lexington, MA', 'Falls Church, VA',
       'Sheboygan, WI', 'Seattle, WA', 'Bellevue, WA', 'Lincoln, NE',
       'Chantilly, VA', 'Santa Monica, CA', 'Ewing, NJ',
       'South San Francisco, CA', 'Palo Alto, CA', 'Singapore, Singapore',
       'Cambridge, MA', 'OSAKA, Japan', 'Santa Clara, CA', 'Vienna, VA',
       'New Orleans, LA', 'Akron, OH', 'Zurich, Switzerland',
       'Woburn, MA', 'Carson, CA', 'Coral Gables, FL', 'San Ramon, CA',
       'Brisbane, CA', 'Winter Park, FL', 'San Rafael, CA',
       'Deerfield, IL', 'Ipswich, MA', 'Carmel, IN', 'Chevy Chase, MD',
       'Hartford, CT', 'Emeryville, CA', 'Cambridge, United Kingdom',
       'Rockville, MD', 'Minneapolis, MN', 'Austin, TX', 'Yakima, WA',
       'Santa Cruz, CA', 'South Jordan, UT', 'Reston, VA', 'Denver, CO',
       'Holmdel, NJ', 'Aurora, CO', 'San Mateo, CA', 'Goleta, CA',
       'Franklin, TN', 'Indianapolis, IN', 'Lutherville Timonium, MD',
       'Westminster, CO', 'Burlingame, CA', 'Annapolis Junction, MD',
       'Bethesda, MD', 'Beavercreek, OH', 'Schaumburg, IL',
       'Sunnyvale, CA', 'Lehi, UT', 'Lake Oswego, OR', 'Holyoke, MA',
       'Dulles, VA', 'San Diego, CA', 'Detroit, MI', 'Stamford, CT',
       'Carpinteria, CA', 'Columbia, SC', '-1', "Marcy-l'Etoile, France",
       'Columbia, MO', 'Fairfax, VA', 'Chandler, AZ', 'Aurora, Canada',
       'Blue Bell, PA', 'Troy, MI', 'Redwood City, CA', 'Greenville, SC',
       'Arlington, VA', 'Harrisburg, PA', 'Hamilton, Bermuda',
       'Lynchburg, VA', 'Springfield, MA', 'San Carlos, CA',
       'Waltham, MA', 'San Jose, CA', 'Jersey City, NJ', 'Fort Worth, TX',
       'Cedar Rapids, IA', 'McLean, VA', 'Lorton, VA', 'Maple Plain, MN',
       'Kent, WA', 'Woodbine, MD', 'San Antonio, TX', 'Scotts Valley, CA',
       'Spartanburg, SC', 'Woodbridge, NJ', 'Chennai, India',
       'Tel Aviv-Yafo, Israel', 'Baltimore, MD', 'Manalapan, NJ',
       'Charlotte, NC', 'Saxonburg, PA', 'Bristol, PA',
       'Bangalore, India', 'Hoboken, NJ', 'Paris, France',
       'Greenwich, CT', 'Santa Ana, CA', 'Houston, TX', 'Tucson, AZ',
       'Birmingham, AL', 'Cleveland, OH', 'Pleasanton, CA',
       'Columbus, OH', 'Piscataway, NJ', 'Danvers, MA',
       'Philadelphia, PA', 'Livermore, CA', 'Pittsburgh, PA',
       'Dallas, TX', 'Toronto, Canada', 'Irvine, CA', 'Hillsborough, NJ',
       'Oshkosh, WI', 'Fremont, CA', 'Monroe, WI', 'Goteborg, Sweden',
       'Lake Buena Vista, FL', 'Schaffhausen, Switzerland',
       'Richmond, VA', 'Newark, CA', 'Greensboro, NC', 'Scottsdale, AZ',
       'Irving, TX', 'Beltsville, MD', 'Naperville, IL',
       'Brentford, United Kingdom', 'Cincinnati, OH', 'Somerset, NJ',
       'London, United Kingdom', 'Raleigh, NC', 'Leesburg, VA',
       'Durham, NC', 'Kent, OH', 'Westlake Village, CA',
       'North Brunswick, NJ', 'Benicia, CA', 'Laurel, MD', 'Columbia, MD',
       'Danville, CA', 'Wilmington, MA', 'New York, 061', 'Reading, MA',
       'Folsom, CA', 'Wilsonville, OR', 'Huntsville, AL', 'Madison, WI',
       'Phila, PA', 'Winston-Salem, NC', 'Half Moon Bay, CA',
       'Los Angeles, CA', 'Hilliard, OH', 'Hanover, MD',
       'Kansas City, MO', 'Bengaluru, India', 'Alpharetta, GA',
       'Germantown, MD', 'Omaha, NE', 'Clifton Park, NY', 'Livonia, MI',
       'Ashburn, VA', 'Nashville, TN', 'Alexandria, VA', 'Edison, NJ',
       'Ventura, CA', 'Armonk, NY', 'Trumbull, CT', 'Chadds Ford, PA',
       'Saint Paul, MN', 'Glen Allen, VA', 'Aliso Viejo, CA',
       'Plainsboro, NJ', 'Fairmont, WV', 'Cherry Hill, NJ', 'Itasca, IL',
       'Coconut Creek, FL', 'Lombard, IL', 'Honolulu, HI',
       'Carle Place, NY', 'Cupertino, CA', 'Tampa, FL', 'Totowa, NJ',
       'Rome, NY', 'Milan, IL', 'Marbella, Spain', 'Simi Valley, CA',
       'Rancho Cucamonga, CA', 'Albuquerque, NM', 'Langley, VA',
       'Plano, TX', 'Albertville, AL', 'Orange, CA', 'Littleton, CO',
       'Oakville, Canada', 'San Bruno, CA', 'West Chester, PA',
       'Utica, MI', 'Fort Lee, NJ'], dtype=object)

## `Size Feature`

The Size feature in the dataset represents the number of employees in a company, with values like '1001 to 5000 employees', '5001 to 10000 employees', and 'Unknown'. To standardize these values, the function convert_size_feature was applied to convert the employee size descriptions into a unified range format, such as '1001-5000', '5001-10000', and '10000+' for companies with more than 10,000 employees. Values like '-1' or 'Unknown' were preserved as 'Unknown'. Finally, the column was renamed to company_employees to better reflect its content.

In [679]:
cleaning_df['Size'].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees', '10000+ employees',
       '201 to 500 employees', '1 to 50 employees', '-1', 'Unknown'],
      dtype=object)

In [680]:
def convert_size_feature(value):
    """
    Converts employee size descriptions into a standardized range.

    If the value is '-1' or 'Unknown', it returns 'Unknown'.
    For other values, it extracts the employee range from the description and returns it in a 
    standardized format.

    Parameters:
    ------------
    value (str): 
        A string describing the size of the company in terms of employee count, such as
        '1001 to 5000 employees' or '5001 to 10000 employees'.

    Returns:
    ------------
    str: 
        A standardized employee range, such as '1001-5000'. If the value is '-1' or 'Unknown',
        it returns 'Unknown'.

    """
    if value in ['-1', 'Unknown']:
        return 'Unknown'
    if '10000+' in value:
        return '10000+'
    match = re.search(r'(\d+)(?: to )(\d+)', value)
    return f'{match.group(1)}-{match.group(2)}'

In [681]:
cleaning_df['Size'] = cleaning_df['Size'].apply(convert_size_feature)

In [682]:
cleaning_df['Size'].unique()

array(['1001-5000', '5001-10000', '501-1000', '51-200', '10000+',
       '201-500', '1-50', 'Unknown'], dtype=object)

In [683]:
cleaning_df = cleaning_df.rename(columns={'Size': 'company_employees'})

In [684]:
cleaning_df.head(1)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,company_employees,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,job_location
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",NY

## `Founded Feature`

The Founded feature represents the year a company was established, but it contains a significant number of missing values, with 118 entries marked as -1. Given that this column has many missing or invalid entries, and considering it may not be crucial for the analysis, the decision was made to drop this column from the dataset. This will help streamline the data and avoid any potential noise caused by the incomplete information.

In [685]:
cleaning_df['Founded'].unique()

array([1993, 1968, 1981, 2000, 1998, 2010, 1996, 1990, 1983, 2014, 2012,
       2016, 1965, 1973, 1986, 1997, 2015, 1945, 1988, 2017, 2011, 1967,
       1860, 1992, 2003, 1951, 2005, 2019, 1925, 2008, 1999, 1978, 1966,
       1912, 1958, 2013, 1849, 1781, 1926, 2006, 1994, 1863, 1995,   -1,
       1982, 1974, 2001, 1985, 1913, 1971, 1911, 2009, 1959, 2007, 1939,
       2002, 1961, 1963, 1969, 1946, 1957, 1953, 1948, 1850, 1851, 2004,
       1976, 1918, 1954, 1947, 1955, 2018, 1937, 1917, 1935, 1929, 1820,
       1952, 1932, 1894, 1960, 1788, 1830, 1984, 1933, 1880, 1887, 1970,
       1942, 1980, 1989, 1908, 1853, 1875, 1914, 1898, 1956, 1977, 1987,
       1896, 1972, 1949, 1962], dtype=int64)

In [686]:
len(cleaning_df[cleaning_df['Founded'] == -1])

118

In [687]:
cleaning_df = cleaning_df.drop(labels='Founded', axis=1)

In [688]:
cleaning_df.head(1)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,company_employees,Type of ownership,Industry,Sector,Revenue,Competitors,job_location
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",NY

## `Type of ownership Feature`

The Type of ownership feature categorizes companies based on their ownership structure. However, the dataset contains missing or unknown values, represented as -1 and Unknown. To standardize this feature, all -1 values have been converted to 'Unknown'. This ensures consistency in the dataset while preserving relevant ownership classifications such as 'Company - Public', 'Company - Private', 'Government', and others.

In [689]:
cleaning_df['Type of ownership'].unique()

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', '-1',
       'Unknown', 'Hospital', 'Self-employed', 'College / University',
       'Contract'], dtype=object)

In [690]:
def clean_type_of_ownership_feature(value):
    """
    Cleans the 'Type of Ownership' feature by replacing '-1' with 'Unknown'.

    Parameters:
    ------------
    value (str): 
        A string representing the type of ownership.

    Returns:
    ------------
    str: 
        'Unknown' if the input is '-1', otherwise returns the original value.
    """
    if value == '-1':
        return 'Unknown'
    else:
        return value

In [691]:
cleaning_df['Type of ownership'] = cleaning_df['Type of ownership'].apply(clean_type_of_ownership_feature)

In [692]:
cleaning_df['Type of ownership'].unique()

array(['Nonprofit Organization', 'Company - Public',
       'Private Practice / Firm', 'Company - Private', 'Government',
       'Subsidiary or Business Segment', 'Other Organization', 'Unknown',
       'Hospital', 'Self-employed', 'College / University', 'Contract'],
      dtype=object)

In [693]:
cleaning_df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'company_employees',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'job_location'],
      dtype='object')

## `Industry Feature`

The Industry feature classifies companies based on their sector of operation. However, some entries in the dataset are missing or labeled as -1. To maintain data consistency, all -1 values have been converted to 'Unknown'. This ensures that the dataset remains structured while retaining valuable industry classifications such as 'Insurance Carriers', 'Biotech & Pharmaceuticals', 'IT Services', and others.

In [694]:
cleaning_df['Industry'].unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', '-1', 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

In [695]:
def clean_industry_feature(value):
    """
    Cleans the 'Industry' feature by replacing '-1' with 'Unknown'.

    Parameters:
    ------------
    value (str): 
        A string representing the industry.

    Returns:
    ------------
    str: 
        'Unknown' if the input is '-1', otherwise returns the original value.
    """
    if value == '-1':
        return 'Unknown'
    else:
        return value

In [696]:
cleaning_df['Industry'] = cleaning_df['Industry'].apply(clean_industry_feature)

In [697]:
cleaning_df['Industry'].unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', 'Unknown', 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

## `Sector Feature`

The Sector feature categorizes companies into broader industries, such as 'Information Technology', 'Health Care', and 'Finance'. Since some entries in the dataset were labeled as -1, these have been replaced with 'Unknown' to ensure data consistency. This transformation helps maintain a structured dataset while preserving meaningful sector classifications.

In [698]:
cleaning_df['Sector'].unique()

array(['Insurance', 'Business Services', 'Manufacturing',
       'Information Technology', 'Biotech & Pharmaceuticals', 'Retail',
       'Oil, Gas, Energy & Utilities', 'Government', 'Health Care',
       'Finance', 'Aerospace & Defense', '-1',
       'Transportation & Logistics', 'Media', 'Telecommunications',
       'Real Estate', 'Travel & Tourism', 'Agriculture & Forestry',
       'Education', 'Accounting & Legal', 'Non-Profit',
       'Construction, Repair & Maintenance', 'Consumer Services'],
      dtype=object)

In [699]:
def clean_sector_feature(value):
    """
    Cleans the 'Sector' feature by replacing '-1' with 'Unknown'.

    Parameters:
    ------------
    value (str): 
        A string representing the industry.

    Returns:
    ------------
    str: 
        'Unknown' if the input is '-1', otherwise returns the original value.
    """
    if value == '-1':
        return 'Unknown'
    else:
        return value

In [700]:
cleaning_df['Sector'] = cleaning_df['Sector'].apply(clean_sector_feature)

## `Revenue Feature`

In [701]:
cleaning_df['Revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)', '-1'], dtype=object)

In [702]:
def clean_revenue_feature(value):
    """
    Cleans the 'Revenue' feature by replacing '-1' with 'Unknown / Non-Applicable'.

    Parameters:
    ------------
    value (str): 
        A string representing the industry.

    Returns:
    ------------
    str: 
        'Unknown' if the input is '-1', otherwise returns the original value.
    """
    if value == '-1':
        return 'Unknown / Non-Applicable'
    else:
        return value

In [703]:
cleaning_df['Revenue'] = cleaning_df['Revenue'].apply(clean_revenue_feature)

In [704]:
cleaning_df['Revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)'], dtype=object)

In [705]:
cleaning_df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'company_employees',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'job_location'],
      dtype='object')

## `Competitors Feature`

The Competitors feature was dropped because it contained a large number of missing values (501 entries labeled as -1). Given its limited usefulness for analysis and the high percentage of missing data, removing the column helps streamline the dataset.

In [706]:
cleaning_df['Competitors'].unique()

array(['EmblemHealth, UnitedHealth Group, Aetna', '-1',
       'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies',
       'Commerce Signals, Cardlytics, Yodlee',
       'Square, PayPal, H&R Block',
       'Leidos, CACI International, Booz Allen Hamilton',
       'Slalom, Daugherty Business Solutions',
       'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory',
       'CDW, PCM, SHI International',
       'Crossix Solutions Inc., AppNexus, The Trade Desk',
       'Northwestern Mutual', 'Puppet, Ansible, SaltStack',
       'Enlivant, Sunrise Senior Living, Brookdale Senior Living',
       'TrueCar, Cars.com, Kelley Blue Book',
       'Travelers, Allstate, State Farm', 'Novartis, Baxter, Pfizer',
       'Skyhigh Networks, Zscaler, NortonLifeLock',
       'Facebook, Google, Pinterest', 'DoorDash, Uber, Grubhub',
       'Munich Re, Hannover RE, SCOR', "IMAGE Skincare, Aveda, Kiehl's",
       'Luxoft, EPAM, Capgemini Invent', 'Sequenom',
       'Linqia, Collective Bias', 'John Deere, Komatsu, CNH Industrial',
       'Thermo Fisher Scientific, Enzymatics, Illumina',
       'CUNA Mutual, SWBC, Overby-Seawell', 'Zola Registry',
       'Colony Specialty, Markel, RLI',
       'Roche, GlaxoSmithKline, Novartis',
       'Solution Design Group, Intertech (Minnesota)',
       'Braintree, Authorize.Net, PayPal', 'Nielsen, Zappi, SurveyMonkey',
       'The World Bank, IMF', 'Booz Allen Hamilton, CACI International',
       'Booz Allen Hamilton, SAIC, LMI', 'Epic, CipherHealth',
       'Copper River Shared Services, Chenega Corporation, Deloitte',
       'Battelle, General Atomics, SAIC', 'IQVIA, ICON',
       'Arbella Insurance, Safety Insurance',
       'Engagio, Bombora, Terminus', 'SAIC, Leidos, Northrop Grumman',
       'Bosch, Lear Corporation, Faurecia', 'Covance, ICON',
       'Adecco, ManpowerGroup, Allegis Corporation',
       'GE Digital, Palantir Technologies, Uptake', 'PRA Group',
       'Genomic Health, 23andMe, Illumina',
       'Bromium, FireEye, Authentic8', 'Drip, iContact, Mailchimp',
       "Children's Health, Texas Health Resources, Baylor Scott & White Health",
       'Harris, Fibertek', 'Monster Worldwide, CareerBuilder, Craigslist',
       'Los Alamos National Laboratory, Battelle, SRI International',
       'ManTech, Booz Allen Hamilton, Leidos',
       'Lumentum Operations, Keysight Technologies, O-Net Technologies',
       'Square, Amazon, Apple', 'Pfizer, GlaxoSmithKline',
       'DHL Supply Chain, UPS, FedEx',
       'Raytheon Technologies, General Dynamics, MIT Lincoln Laboratory',
       'Eaton, SMC Corporation, Bosch Rexroth',
       'Advisory Board, Booz Allen Hamilton, McKinsey & Company',
       'Amazon, Apple', 'Covidien, Boston Scientific', 'AT&T, Verizon',
       'Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories',
       'Fluor, Bechtel, AECOM', 'Intertek, SGS, Bureau Veritas',
       'Lockheed Martin, Caterpillar, John Deere',
       'Activision Blizzard, Electronic Arts',
       'MediaMath, Conversant, AppNexus', 'Pfizer, AstraZeneca, Merck',
       'Archibus, iOffice, Planon',
       'ACRT Services, Bartlett Tree Experts',
       'TASC, Vencore, Booz Allen Hamilton',
       'Seagate Technology, Toshiba',
       'Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton',
       'MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman',
       'Kforce, PageGroup, Robert Half',
       'TEKsystems, Kforce, Randstad US',
       'South Carolina Electric & Gas, Virginia Electric and Power',
       'Cadence Design Systems, Synopsys, Altium Limited',
       'CGI (Nevada), Accenture, Deloitte', 'Accenture, Deloitte, PwC',
       'Bechtel Jacobs, Black & Veatch, HNTB', 'Adecco, Manpower',
       'Acxiom, Merkle, Epsilon (North Carolina)',
       'Amazon, Accenture, Microsoft',
       'Booz Allen Hamilton, Deloitte, ERPi',
       'TEKsystems, Insight Global, Accenture',
       'H&M, Inditex, Fast Retailing',
       'Novartis, AstraZeneca, Siemens Healthineers',
       'Aquent, 24 Seven Talent',
       'Google, Microsoft, Samsung Electronics',
       'AppDynamics, Datadog, Dynatrace',
       'Liberty Mutual Insurance, EMPLOYERS, Travelers',
       'KPMG, Accenture, Deloitte',
       'General Atomics, Boeing, Northrop Grumman',
       'Los Alamos National Laboratory, Lawrence Livermore National Laboratory',
       'Cognizant Technology Solutions, Infosys, Wipro', 'Humana',
       'Accenture, Northrop Grumman, Xerox',
       'United Natural Foods, US Foods, DPI Specialty Foods',
       'LivePerson, Salesforce, SAP', 'Zurich Insurance, AXA XL, Allianz',
       'CSC, ManTech, SAIC',
       'Genomic Health, Myriad Genetics, The Broad Institute'],
      dtype=object)

In [707]:
len(cleaning_df[cleaning_df['Competitors'] == '-1'])

501

In [708]:
cleaning_df = cleaning_df.drop(labels='Competitors', axis=1)

In [709]:
cleaning_df.head(1)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,company_employees,Type of ownership,Industry,Sector,Revenue,job_location
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,NY

# 4 Features

## 4.1 Rename Features

The feature names were standardized by converting them to lowercase and replacing spaces with underscores. This improves consistency and makes it easier to reference column names in code.

In [710]:
features_cleaning_df = cleaning_df.copy()

In [711]:
features_cleaning_df.columns = features_cleaning_df.columns.str.lower().str.replace(' ', '_')

In [712]:
features_cleaning_df.columns

Index(['job_title', 'salary_estimate', 'job_description', 'rating',
       'company_name', 'location', 'headquarters', 'company_employees',
       'type_of_ownership', 'industry', 'sector', 'revenue', 'job_location'],
      dtype='object')

In [713]:
features_cleaning_df.head(1)

,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,company_employees,type_of_ownership,industry,sector,revenue,job_location
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,NY

## 4.2 Min Salary and Max Salary

The salary_estimate column was successfully split into min_salary and max_salary, providing clearer salary range insights. These two new columns allow for more granular salary analysis, such as calculating salary averages or filtering jobs by salary range.

In [714]:
features_cleaning_df['salary_estimate'].unique()

array(['137-171', '75-131', '79-131', '99-132', '90-109', '101-165',
       '56-97', '79-106', '71-123', '90-124', '91-150', '141-225',
       '145-225', '79-147', '122-146', '112-116', '110-163', '124-198',
       '79-133', '69-116', '31-56', '95-119', '212-331', '66-112',
       '128-201', '138-158', '80-132', '87-141', '92-155', '105-167'],
      dtype=object)

In [715]:
features_cleaning_df['min_salary'] = features_cleaning_df['salary_estimate'].apply(lambda x: x.split('-')[0])

In [716]:
features_cleaning_df['min_salary'] = features_cleaning_df['min_salary'].astype(int)

In [717]:
features_cleaning_df['min_salary'].unique()

array([137,  75,  79,  99,  90, 101,  56,  71,  91, 141, 145, 122, 112,
       110, 124,  69,  31,  95, 212,  66, 128, 138,  80,  87,  92, 105])

In [718]:
features_cleaning_df['max_salary'] = features_cleaning_df['salary_estimate'].apply(lambda x: x.split('-')[1])

In [719]:
features_cleaning_df['max_salary'] = features_cleaning_df['max_salary'].astype(int)

In [720]:
features_cleaning_df['max_salary'].unique()

array([171, 131, 132, 109, 165,  97, 106, 123, 124, 150, 225, 147, 146,
       116, 163, 198, 133,  56, 119, 331, 112, 201, 158, 141, 155, 167])

In [721]:
features_cleaning_df.head(1)

,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,company_employees,type_of_ownership,industry,sector,revenue,job_location,min_salary,max_salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,NY,137,171

## 4.3 Average Salary New Feature

In this step of data preprocessing, we created a new feature, average_salary, by calculating the average of the min_salary and max_salary for each job listing. This allows for a more straightforward representation of the salary range, enabling us to analyze and compare job salaries on a more consistent basis.

The new average_salary feature was computed by summing the min_salary and max_salary for each entry and dividing the result by 2. We then converted the values to integers to ensure consistency and make the data ready for analysis or model training.

This transformation simplifies the salary information, helping in tasks such as salary distribution analysis, comparisons, and even in prediction models for salary estimations.

In [722]:
features_cleaning_df['average_salary'] = features_cleaning_df[['min_salary', 'max_salary']].apply(lambda x: (x['min_salary'] + x['max_salary']) / 2, axis=1)

In [723]:
features_cleaning_df['average_salary'] = features_cleaning_df['average_salary'].astype(int)

In [724]:
features_cleaning_df['average_salary'].unique()

array([154, 103, 105, 115,  99, 133,  76,  92,  97, 107, 120, 183, 185,
       113, 134, 114, 136, 161, 106,  43, 271,  89, 164, 148, 123])

## 4.4 Same State Feature

In this step, we created a new feature, same_state, to indicate whether the job's location is the same as the company's headquarters location. This binary feature helps identify if a job is located in the same state as the company's headquarters, which could be useful for understanding regional hiring trends or employee relocation preferences.

The same_state feature was computed by comparing the location (job location) with the state portion of the headquarters (company headquarters). If the state in the location matches the state extracted from the headquarters, the same_state feature is assigned a value of 1; otherwise, it is assigned a value of 0.

The result is a binary feature (1 or 0), where 1 indicates the job is in the same state as the company's headquarters, and 0 indicates it is not. This new feature adds additional value for analysis, particularly when exploring whether employees are generally hired locally or across state lines.

In [725]:
features_cleaning_df['same_state'] = features_cleaning_df[['location', 'headquarters']].apply(lambda x: 1 if  x['location'] == x['headquarters'].split(', ')[0] else 0, axis=1)

In [726]:
features_cleaning_df['same_state'].unique()

array([1, 0], dtype=int64)

In [727]:
features_cleaning_df['same_state'].value_counts()

same_state
0    402
1    270
Name: count, dtype: int64

## 4.5 Company Age New Feature

In [728]:
features_cleaning_df['company_age'] = df['Founded'].apply(lambda x: datetime.datetime.now().year - x if x != -1 else -1)

In [729]:
features_cleaning_df['company_age'].unique()

array([ 32,  57,  44,  25,  27,  15,  29,  35,  42,  11,  13,   9,  60,
        52,  39,  28,  10,  80,  37,   8,  14,  58, 165,  33,  22,  74,
        20,   6, 100,  17,  26,  47,  59, 113,  67,  12, 176, 244,  99,
        19,  31, 162,  30,  -1,  43,  51,  24,  40, 112,  54, 114,  16,
        66,  18,  86,  23,  64,  62,  56,  79,  68,  72,  77, 175, 174,
        21,  49, 107,  71,  78,  70,   7,  88, 108,  90,  96, 205,  73,
        93, 131,  65, 237, 195,  41,  92, 145, 138,  55,  83,  45,  36,
       117, 172, 150, 111, 127,  69,  48,  38, 129,  53,  76,  63],
      dtype=int64)

In [730]:
features_cleaning_df['company_age'].head(3)

0    32
1    57
2    44
Name: company_age, dtype: int64

In [731]:
features_cleaning_df.head(3)

,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,company_employees,type_of_ownership,industry,sector,revenue,job_location,min_salary,max_salary,average_salary,same_state,company_age
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,NY,137,171,154,1,32
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,"Herndon, VA",5001-10000,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),VA,137,171,154,0,57
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,Boston,"Boston, MA",1001-5000,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),MA,137,171,154,1,44

## 4.6 Python, Excel, Hadoop, Spark, AWS, Tableau, and Big Data New Features

In this step, we created new features for specific skills mentioned in the job descriptions, such as Python, Excel, Hadoop, Spark, AWS, Tableau, and Big Data. These features were added to the dataset to provide a better understanding of the technical skills required for each job.

Here’s how it works:

1. For each skill in the list (python, excel, hadoop, spark, aws, tableau, big data), a new binary feature was created. The value for each new feature is determined by whether the corresponding skill appears in the job description text.

2. The job description is converted to lowercase to ensure the skill is detected regardless of case sensitivity.

3. If the skill is found in the job description, the corresponding feature is set to 1 (indicating that the skill is required for the job). If the skill is not found, the feature is set to 0.

4. The feature name big data was renamed to big_data to follow a consistent naming convention, replacing the space with an underscore.

These newly created features will allow us to quickly assess which jobs require specific technical skills, and they are especially helpful for machine learning models or further analysis of job trends in relation to specific skills.

In [732]:
features = ['python', 'excel', 'hadoop', 'spark', 'aws', 'tableau', 'big data']

for feature in features:
    features_cleaning_df[feature] = features_cleaning_df['job_description'].apply(lambda x: 1 if feature in x.lower() else 0)

In [733]:
features_cleaning_df = features_cleaning_df.rename(columns={'big data': 'big_data'})

In [734]:
features_cleaning_df.head(1)

,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,company_employees,type_of_ownership,industry,...,average_salary,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,...,154,1,32,0,0,0,0,1,0,0

## Job Simp Feature

In this step, we create a new feature called job_simp, which simplifies job titles into broader categories. Here's a breakdown of how this works:

1. Job Title Classification:
* The function create_job_simp_feature checks for specific keywords (e.g., "director", "manager", "data scientist") in the job title. If one of these keywords is found in the job title, the function returns a simplified label corresponding to the role, such as 'Director', 'Manager', 'Data Scientist', etc. If none of the predefined keywords is found, it returns 'Na' (not available), indicating that the job title doesn't match any of the specified categories.

2. Use of .apply():
* The function is applied to the job_title column using .apply() to create the new job_simp feature.

This categorization is helpful because it groups job titles into broad, simplified categories, making it easier to analyze job trends and focus on specific types of roles, rather than dealing with the variety of job titles that may exist in the dataset.

In [743]:
features_cleaning_df['job_title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [736]:
def create_job_simp_feature(value):
    if 'director' in value.lower():
        return 'Director'
    elif 'manager' in value.lower():
        return 'Manager'
    elif 'data scientist' in value.lower():
        return 'Data Scientist'
    elif 'analyst' in value.lower():
        return 'Analyst'
    elif 'data engineer' in value.lower():
        return 'Data Engineer'
    elif 'machine learning' in value.lower():
        return 'Machine Learning'
    else:
        return 'Na'

In [737]:
features_cleaning_df['job_simp'] = features_cleaning_df['job_title'].apply(create_job_simp_feature)

In [742]:
features_cleaning_df[['job_title', 'job_simp']]

             job_title        job_simp
0    Sr Data Scientist  Data Scientist
1       Data Scientist  Data Scientist
2       Data Scientist  Data Scientist
3       Data Scientist  Data Scientist
4       Data Scientist  Data Scientist
..                 ...             ...
667     Data Scientist  Data Scientist
668     Data Scientist  Data Scientist
669     Data Scientist  Data Scientist
670     Data Scientist  Data Scientist
671     Data Scientist  Data Scientist

[672 rows x 2 columns]

## Seniority New Feature

In this part of the project, I focused on creating a new feature called seniority to classify job titles based on their seniority level. The goal was to categorize roles as 'Junior', 'Senior', or 'Na' (not available) based on specific keywords in the job title.

In [758]:
def create_seniority_feature(value):
    if 'jr' in value.lower():
        return 'Junior'
    if 'sr' in value.lower() or 'senior' in value.lower() or 'principal' in value.lower() or 'lead' in value.lower() or 'expert' in value.lower():
        return 'Senior'
    else:
        return 'Na'

In [759]:
features_cleaning_df['seniority'] = features_cleaning_df['job_title'].apply(create_seniority_feature)

In [760]:
features_cleaning_df.head()

,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,company_employees,type_of_ownership,industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,...,32,0,0,0,0,1,0,0,Data Scientist,Senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,"Herndon, VA",5001-10000,Company - Public,Research & Development,...,57,0,0,1,0,0,0,1,Data Scientist,Na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,Boston,"Boston, MA",1001-5000,Private Practice / Firm,Consulting,...,44,1,1,0,0,1,0,0,Data Scientist,Na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,Newton,"Bad Ragaz, Switzerland",501-1000,Company - Public,Electrical & Electronic Manufacturing,...,25,1,1,0,0,1,0,0,Data Scientist,Na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,New York,"New York, NY",51-200,Company - Private,Advertising & Marketing,...,27,1,1,0,0,0,0,0,Data Scientist,Na

# 5. Outliers

In [765]:
outliers = delete_outliers(features_cleaning_df, 2, [x for x in features_cleaning_df.columns if features_cleaning_df[x].dtype != 'object'])

In [766]:
len(outliers)

46

In [768]:
features_cleaning_df = features_cleaning_df.drop(outliers, axis=0).reset_index(drop=True)

In [769]:
features_cleaning_df.to_csv('finish.csv')

In [771]:
finished_df = features_cleaning_df.copy()

In [772]:
finished_df.head(10)

,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,company_employees,type_of_ownership,industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,"New York, NY",1001-5000,Nonprofit Organization,Insurance Carriers,...,32,0,0,0,0,1,0,0,Data Scientist,Senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,"Herndon, VA",5001-10000,Company - Public,Research & Development,...,57,0,0,1,0,0,0,1,Data Scientist,Na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,Boston,"Boston, MA",1001-5000,Private Practice / Firm,Consulting,...,44,1,1,0,0,1,0,0,Data Scientist,Na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,Newton,"Bad Ragaz, Switzerland",501-1000,Company - Public,Electrical & Electronic Manufacturing,...,25,1,1,0,0,1,0,0,Data Scientist,Na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,New York,"New York, NY",51-200,Company - Private,Advertising & Marketing,...,27,1,1,0,0,0,0,0,Data Scientist,Na
5,Data Scientist,137-171,About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights,Santa Barbara,"Santa Barbara, CA",51-200,Company - Private,Computer Hardware & Software,...,15,1,1,1,1,0,0,0,Data Scientist,Na
6,Data Scientist / Machine Learning Expert,137-171,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,Cambridge,"Basel, Switzerland",10000+,Company - Public,Biotech & Pharmaceuticals,...,29,1,0,0,0,0,0,0,Data Scientist,Senior
7,Data Scientist,137-171,Introduction\n\nHave you always wanted to run ...,3.5,iRobot,Bedford,"Bedford, MA",1001-5000,Company - Public,Consumer Electronics & Appliances Stores,...,35,1,0,0,0,0,0,0,Data Scientist,Na
8,Staff Data Scientist - Analytics,137-171,Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data,San Diego,"Mountain View, CA",5001-10000,Company - Public,Computer Hardware & Software,...,42,0,0,0,0,0,0,0,Data Scientist,Na
9,Data Scientist,137-171,Ready to write the best chapter of your career...,3.6,XSELL Technologies,Chicago,"Chicago, IL",51-200,Company - Private,Enterprise Software & Network Solutions,...,11,1,0,0,0,0,0,0,Data Scientist,Na